.filterBlock{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px auto;
}
.filterContainer{
    width: 90%;
    margin-top: 15px;
    border-radius: 10px;
    border: 3px solid rgba(249, 249, 249, 0.1);
}