.container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color: var(--mainColor);
}
.paginator{
    margin-bottom: 20px;
    filter: invert(1);
}
